DATABASE_URL="postgresql://postgres.mdsbbcrcjznzyfqjhnbf:46nekvMIsGE9EYLF@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true&connection_limit=1"
NEXT_PUBLIC_SUPABASE_URL="https://mdsbbcrcjznzyfqjhnbf.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1kc2JiY3JjanpuenlmcWpobmJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjE1Njg5MDIsImV4cCI6MjA3NzE0NDkwMn0.7uJtfsAefZ1jfErr4NKxsSQ_x6KC-IMdytx_HkrlFOg"
